body {
    font-family: "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: lightblue;
    background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.container {
    border: 5px solid blue;
    padding: 10px;
    font-style: italic;
    text-decoration: underline;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline-block;
    border: 2px solid orangered;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: white;
    color: orangered;
}
